# macOS
.DS_Store

# Large biological data
data/**
!data/.gitkeep
!data/genome_assemblies/
!data/genome_assemblies/.gitkeep
!data/pESI_assemblies/
!data/pESI_assemblies/.gitkeep
!data/alignments/
!data/alignments/.gitkeep
results/

# Sequence data
*.fa
*.fas
*.fasta
*.fna
*.ffn
*.faa
*.frn
*.fsa
*.fq
*.fastq
*.fa.gz
*.fas.gz
*.fasta.gz
*.fna.gz
*.ffn.gz
*.faa.gz
*.frn.gz
*.fsa.gz
*.fq.gz
*.fastq.gz
*.fa.bz2
*.fas.bz2
*.fasta.bz2
*.fna.bz2
*.ffn.bz2
*.faa.bz2
*.frn.bz2
*.fsa.bz2
*.fq.bz2
*.fastq.bz2
*.fa.xz
*.fas.xz
*.fasta.xz
*.fna.xz
*.ffn.xz
*.faa.xz
*.frn.xz
*.fsa.xz
*.fq.xz
*.fastq.xz

# Sequence and read alignments
*.aln
*.afa
*.mfa
*.maf
*.xmfa
*.phy
*.phylip
*.sto
*.stockholm
*.paf
*.sam
*.bam
*.cram
*.aln.gz
*.aln.bz2
*.aln.xz
*.afa.gz
*.mfa.gz
*.maf.gz
*.xmfa.gz
*.phy.gz
*.phylip.gz
*.sto.gz
*.stockholm.gz
*.paf.gz
*.sam.gz

# Variant data
*.vcf
*.vcf.gz
*.vcf.bgz
*.vcf.bgzf
*.bcf

# Genome annotations
*.gff
*.gff3
*.gtf
*.bed
*.gb
*.gbk
*.gbff
*.genbank
*.embl
*.gff.gz
*.gff3.gz
*.gtf.gz
*.bed.gz
*.gb.gz
*.gbk.gz
*.gbff.gz
*.genbank.gz
*.embl.gz

# Biological data indexes
*.fai
*.bai
*.crai
*.tbi
*.csi
*.gzi

# Temporary files
tmp/
logs/
