# macOS
.DS_Store

# Large biological data
data/**
!data/.gitkeep
!data/genome_assemblies/
!data/genome_assemblies/.gitkeep
!data/pESI_assemblies/
!data/pESI_assemblies/.gitkeep
!data/alignments/
!data/alignments/.gitkeep
results/
*.fasta
*.fa
*.fna
*.fastq
*.fastq.gz
*.bam
*.bai
*.sam
*.vcf.gz
*.bcf

# Temporary files
tmp/
logs/
